<h1 class="text-center">Sign Up</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= bootstrap_form_for @user do |f| %>
            <%= f.text_field :name, :placeholder => "Username", hide_label: true, icon: "user", wrapper: {:class => "user-form has-default"}, help: "Invalid username" %>
            <%= f.text_field :email, :placeholder => "Email address", hide_label: true, icon: "envelope", wrapper: {:class => "user-form has-default"}, help: "Invalid email address" %>
            <%= f.password_field :password, :placeholder => "Enter password", hide_label: true, icon: "lock", wrapper: {:class => "user-form has-default"}, help: "Invalid Password" %>
            <%= f.password_field :password_confirmation, :placeholder => "Re-enter password", hide_label: true, icon: "lock", wrapper: {:class => "user-form has-default"}, help: "Your password does not match" %>
            <%= f.primary "Sign Up" %><input type="reset" class="btn btn-warning pull-right">
        <% end %>
    </div>
</div>