<!DOCTYPE html>
<html>
<head>
  <title>LinkBoardApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <!-- // <script src="assets/script.js"></script> -->
</head>
<body>
<div class="navbar navbar-inverse">
    <a class="navbar-brand" href="/">Title</a>
    <ul class="nav navbar-nav">
        <li>
            <a href="/posts">Home</a>
        </li>
        <% if @current_user %>
            <li><a href="/users">Your Posts</a></li>
            <li><a href="/posts/new">Create a Post</a></li>
            <li><%= link_to "Logout",logout_path, :method => :delete %></li>
        <% else %>
            <li><a href="/users/new">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
        <% end %>
    </ul>
</div>
<div class="container">
<%= render "layouts/flash" %>
<%= yield %>
</div>
</body>
</html>
